/* line 3, ../scss/SantaPerpetuaTheme.scss */
body {
  font-size: 14px;
  line-height: 21px;
}

/* line 7, ../scss/SantaPerpetuaTheme.scss */
#portal-globalnav, .template-homepage #portal-breadcrumbs {
  display: none;
}

/* line 10, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content .portada .span4 {
  margin-left: 0;
  margin-right: 15px;
  width: 31%;
}

/* line 15, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content .portada .span4:hover {
  background: #f5f5f5;
}

/* line 18, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list {
  padding-left: 0;
}

/* line 21, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a {
  text-transform: none;
  padding: 10px 10px 10px 12px!important;
}

/* line 25, ../scss/SantaPerpetuaTheme.scss */
.carousel-control {
  opacity: 0.1;
}

/* line 29, ../scss/SantaPerpetuaTheme.scss */
.template-homepage #content-area, .template-homepage #portal-column-content {
  margin-bottom: 0;
  margin-top: 0;
}

/* line 33, ../scss/SantaPerpetuaTheme.scss */
.template-homepage [class*="span"], .template-homepage .cella {
  float: left;
  margin-bottom: 10px;
  margin-left: 30px;
}

/* line 38, ../scss/SantaPerpetuaTheme.scss */
.text_Destacat {
  margin-left: 20px !important;
}

/* line 41, ../scss/SantaPerpetuaTheme.scss */
.imatge_Destacada img {
  margin-bottom: 5px;
}

/* line 44, ../scss/SantaPerpetuaTheme.scss */
.pad > h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

/* line 48, ../scss/SantaPerpetuaTheme.scss */
.pad > p {
  font-size: 16px;
  line-height: 24px;
}

/* line 52, ../scss/SantaPerpetuaTheme.scss */
.nav > li {
  padding-top: 0;
}

/* line 55, ../scss/SantaPerpetuaTheme.scss */
.portada .fa {
  background: none repeat scroll 0 0 #333333;
  border-radius: 70px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 35px;
  margin-right: 13px;
  margin-top: 20px;
  min-width: 40px;
  padding: 20px;
  text-align: center;
}

/* line 73, ../scss/SantaPerpetuaTheme.scss */
.portada .fa-bar-chart-o {
  background: none repeat scroll 0 0 #eb6039;
}

/* line 76, ../scss/SantaPerpetuaTheme.scss */
.portada .fa-money {
  background: none repeat scroll 0 0 #00a058;
}

/* line 79, ../scss/SantaPerpetuaTheme.scss */
.portada .fa-unlock-alt {
  background: none repeat scroll 0 0 #794c9f;
}

/* line 82, ../scss/SantaPerpetuaTheme.scss */
.portada .fa-thumbs-o-up {
  background: none repeat scroll 0 0 #f1b531;
}

/* line 85, ../scss/SantaPerpetuaTheme.scss */
.portada .fa-building-o {
  background: none repeat scroll 0 0 #5b8cc6;
}

/* line 88, ../scss/SantaPerpetuaTheme.scss */
.portada .fa-book {
  background: none repeat scroll 0 0 #5db6c6;
}

/* line 91, ../scss/SantaPerpetuaTheme.scss */
.portada .span4 > p {
  line-height: 19px;
}

/* line 94, ../scss/SantaPerpetuaTheme.scss */
.portada a {
  color: black;
}

/* line 95, ../scss/SantaPerpetuaTheme.scss */
.accordion-group {
  border-radius: 0;
  margin-bottom: 5px;
}

/* line 101, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table a {
  color: black;
}
/* line 104, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table td {
  vertical-align: middle;
}
/* line 107, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table .fa {
  border-radius: 30px;
  color: #FFFFFF;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 35%;
  min-width: 16px;
  opacity: 0.8;
  padding: 10px;
  text-align: center;
}
/* line 122, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table .fa-thumbs-o-up {
  background: none repeat scroll 0 0 #00A058;
}
/* line 125, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table .fa-thumbs-o-down {
  background: none repeat scroll 0 0 #EB6039;
}
/* line 128, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table .fa-eye {
  background: none repeat scroll 0 0 #F1B531;
}
/* line 131, ../scss/SantaPerpetuaTheme.scss */
.template-indicadors_transparencia table .fa-exclamation {
  background: none repeat scroll 0 0 #5B8CC6;
}

/* line 138, ../scss/SantaPerpetuaTheme.scss */
.ico {
  background: none repeat scroll 0 0 #F5F5F5;
  color: #333;
  border: 1px solid #ddd;
  border-top: 4px solid #999;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  width: 20%;
  border-radius: 0;
}
/* line 148, ../scss/SantaPerpetuaTheme.scss */
.ico a {
  color: #333;
}
/* line 151, ../scss/SantaPerpetuaTheme.scss */
.ico .fa {
  background: none repeat scroll 0 0 #008000;
  border-radius: 30px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 35%;
  min-width: 30px;
  opacity: 0.8;
  padding: 14px;
  text-align: center;
}
/* line 168, ../scss/SantaPerpetuaTheme.scss */
.ico .fa-thumbs-o-up {
  background: none repeat scroll 0 0 #00A058;
}
/* line 171, ../scss/SantaPerpetuaTheme.scss */
.ico .fa-thumbs-o-down {
  background: none repeat scroll 0 0 #EB6039;
}
/* line 174, ../scss/SantaPerpetuaTheme.scss */
.ico .fa-eye {
  background: none repeat scroll 0 0 #F1B531;
}
/* line 177, ../scss/SantaPerpetuaTheme.scss */
.ico .fa-exclamation {
  background: none repeat scroll 0 0 #5B8CC6;
}
/* line 180, ../scss/SantaPerpetuaTheme.scss */
.ico h4 {
  color: #650065!important;
  text-align: left;
}
/* line 184, ../scss/SantaPerpetuaTheme.scss */
.ico p {
  font-size: 13px;
  line-height: 30px;
  margin-left: 10px;
}
/* line 190, ../scss/SantaPerpetuaTheme.scss */
.ico .lleis2 ul {
  margin-left: 0;
  margin-top: 20px;
}
/* line 194, ../scss/SantaPerpetuaTheme.scss */
.ico .lleis2 li {
  list-style: none outside none;
  margin-bottom: 15px;
  text-align: left;
}
/* line 199, ../scss/SantaPerpetuaTheme.scss */
.ico .lleis2 .external-link {
  float: none;
  font-size: 13px;
  padding: 0;
  text-align: left;
}
/* line 205, ../scss/SantaPerpetuaTheme.scss */
.ico .lleis2 .fa {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #333333;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0 5px 0 0;
  min-width: 0;
  padding: 0;
  text-align: left;
}
/* line 222, ../scss/SantaPerpetuaTheme.scss */
.ico .avis .portalMessage {
  border-radius: 0;
}

/* line 226, ../scss/SantaPerpetuaTheme.scss */
#peu {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px dotted #EEEEEE;
  font-size: 92.3077%;
  margin-top: 20px;
  padding-top: 10px;
}

/* line 233, ../scss/SantaPerpetuaTheme.scss */
.avis {
  margin-bottom: 25px;
}

/* line 239, ../scss/SantaPerpetuaTheme.scss */
.datetimewidget-time {
  display: none;
}

/* line 243, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-start-day {
  width: 115px;
}

/* line 247, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-start-month {
  width: 115px;
}

/* line 251, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-start-year {
  width: 115px;
}

/* line 255, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-end-day {
  width: 115px;
}

/* line 259, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-end-month {
  width: 115px;
}

/* line 263, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-end-year {
  width: 115px;
}

/* line 267, ../scss/SantaPerpetuaTheme.scss */
#calmonth {
  width: 145px;
}

/* line 271, ../scss/SantaPerpetuaTheme.scss */
#calyear {
  width: 145px;
}

/* line 275, ../scss/SantaPerpetuaTheme.scss */
#formfield-form-widgets-keywords_llei {
  width: 550px;
}

/* line 279, ../scss/SantaPerpetuaTheme.scss */
#formfield-form-widgets-keywords_categories {
  width: 550px;
}

/* line 283, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-valoracio_publicat {
  width: 20px;
}

/* line 287, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-valoracio_comprensio {
  width: 20px;
}

/* line 291, ../scss/SantaPerpetuaTheme.scss */
#form-widgets-IDublinCore-title {
  height: auto;
  max-width: 100%;
  min-width: 210px;
  min-height: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 304, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa {
  background: none repeat scroll 0 0 #333333;
  border-radius: 70px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 35px;
  margin-right: 13px;
  margin-top: 20px;
  min-width: 40px;
  padding: 20px;
  text-align: center;
}

/* line 322, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa-bar-chart-o {
  background: none repeat scroll 0 0 #eb6039;
}

/* line 325, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa-money {
  background: none repeat scroll 0 0 #00a058;
}

/* line 328, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa-unlock-alt {
  background: none repeat scroll 0 0 #794c9f;
}

/* line 331, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa-thumbs-o-up {
  background: none repeat scroll 0 0 #f1b531;
}

/* line 334, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa-building-o {
  background: none repeat scroll 0 0 #5b8cc6;
}

/* line 337, ../scss/SantaPerpetuaTheme.scss */
.apartat .fa-book {
  background: none repeat scroll 0 0 #5db6c6;
}

/* line 340, ../scss/SantaPerpetuaTheme.scss */
.apartat .span4 > p {
  line-height: 19px;
}

/* line 343, ../scss/SantaPerpetuaTheme.scss */
.apartat a {
  color: black;
}

/* line 344, ../scss/SantaPerpetuaTheme.scss */
.accordion-group {
  border-radius: 0;
  margin-bottom: 5px;
}

/* line 349, ../scss/SantaPerpetuaTheme.scss */
.apartat.span4 {
  width: 30% !important;
  border: none;
}

/* line 354, ../scss/SantaPerpetuaTheme.scss */
.ico {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #999999 #DDDDDD #DDDDDD;
  border-image: none;
  border-radius: 0;
  border-right: 1px solid #DDDDDD;
  border-style: solid;
  border-width: 4px 1px 1px;
  color: #333333;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  width: 20%;
}

/* line 372, ../scss/SantaPerpetuaTheme.scss */
.fa.fa-external-link {
  font-size: 24px;
}

/* line 375, ../scss/SantaPerpetuaTheme.scss */
.lleis2 li {
  list-style: none outside none;
}

/* line 378, ../scss/SantaPerpetuaTheme.scss */
.lleis2 {
  margin-top: 20px;
}

/* line 381, ../scss/SantaPerpetuaTheme.scss */
.lleis2 h4 {
  margin-bottom: 15px;
}

/* line 384, ../scss/SantaPerpetuaTheme.scss */
.lleis2 > ul {
  margin-left: 0;
}

/* line 387, ../scss/SantaPerpetuaTheme.scss */
.lleis2 li {
  list-style: none outside none;
  margin-bottom: 5px;
}

/* line 391, ../scss/SantaPerpetuaTheme.scss */
.lleis2 .fa {
  color: #aaa;
  font-size: 16px;
  margin-right: 7px;
}

/* line 397, ../scss/SantaPerpetuaTheme.scss */
.docsrelacionats .fa {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #aaa;
  display: inline-block;
  float: left;
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 0;
  margin-right: 8px;
  min-width: 0;
  opacity: 1;
  padding: 0;
  text-align: left;
  margin-top: 2px;
}
/* line 415, ../scss/SantaPerpetuaTheme.scss */
.docsrelacionats fa-book {
  font-size: 32px;
  margin-top: -4px;
}
/* line 419, ../scss/SantaPerpetuaTheme.scss */
.docsrelacionats h4 {
  font-size: 115.385%;
  line-height: 18px;
  margin-bottom: 20px;
}
/* line 424, ../scss/SantaPerpetuaTheme.scss */
.docsrelacionats ul {
  margin-left: 0;
}
/* line 427, ../scss/SantaPerpetuaTheme.scss */
.docsrelacionats li {
  list-style: none outside none;
  margin-bottom: 10px;
  text-align: left;
}

/* line 433, ../scss/SantaPerpetuaTheme.scss */
.subsection-ley-de-transparencia {
  float: none;
}

/* line 436, ../scss/SantaPerpetuaTheme.scss */
#portal-header {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: medium none;
  border-top: 2px solid #0073B8;
  margin: 0 auto 10px;
}

/* line 444, ../scss/SantaPerpetuaTheme.scss */
h1 {
  color: #650065;
}

/* line 447, ../scss/SantaPerpetuaTheme.scss */
.portlet h2 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 3px solid #650065;
  color: #650065;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 6px 15px 7px 0;
  position: relative;
  text-transform: uppercase;
}

/* line 459, ../scss/SantaPerpetuaTheme.scss */
.button {
  background: none repeat scroll 0 0 #650065;
  font-size: 11px;
  padding: 2px 0 3px 8px;
}

/* line 464, ../scss/SantaPerpetuaTheme.scss */
.portlet-footer {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* line 467, ../scss/SantaPerpetuaTheme.scss */
.liniaBaix, .documentFirstHeading {
  border-bottom: 1px solid #BEBEBE;
  box-shadow: none;
  margin: 0 10px 5px 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 0;
}

/* line 475, ../scss/SantaPerpetuaTheme.scss */
.subnavbar .nav-list a {
  font-size: 13px;
  background-color: #D4D4D4;
  border-bottom: 1px solid #EEEEEE;
}

/* line 480, ../scss/SantaPerpetuaTheme.scss */
#content-area, #portal-column-content {
  margin-top: 25px;
}

/* line 483, ../scss/SantaPerpetuaTheme.scss */
#portal-column-content.span9 {
  margin-top: 0;
}
